.To_do_list{
    background-color: white;
    margin: 10%  20%;
    width: 60%;
    height: auto;
    display: inline-block;
}
.intruduction_bar{
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.add{
    width: 30px;
    height: 30px;
}
.task{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid brown;
}
.info{
   direction: left; 
   overflow: hidden;
}
.buttons{
    direction: right;
    gap: 10px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5); /* semi-transparent black */
    z-index: 1000;
    display: none; /* Show when needed */
}
.addandupdate_task{
    position: fixed;
    background-color: white;
    padding: 2% 4%;
    bottom: 40%;
    left: 37%;
    border: 1px solid black;
    z-index: 1001;
    display: none;
}

.update_task{
    position: fixed;
    background-color: white;
    padding: 2% 4%;
    bottom: 40%;
    left: 37%;
    border: 1px solid black;
    z-index: 1001;
    display: none;
}
.au_title{
    text-align: center;
}